.profile-page {
  /* background-color: rgb(234, 245, 236); */
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.profile-page .profile-content {
  width: 30%;
  background-color: rgb(226, 248, 248);
  margin: 0px auto;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: 5px 5px 8px #888888
}

.profile-header {
  border-bottom: 1px solid black;
  padding: 0px 20px 10px 0px;
}

.profile-title {
  display: flex;
  flex-direction: row;
}

.profile-footer {
  
  display: flex;
  justify-content: center;
  padding: 5px 20px 20px 20px;
}

.profile-footer-content {
  text-align: center;
}

.profile-footer-content p {
  margin-top: 10px;
  font-weight: 500;
  
}

.profile-icon {
  width: 8%;
}

.profile-icon img {
  width: 100%;
}

.profile-name {
  /* margin-top: 1%; */
  font-weight: 500;
}

.profile-pic {
  background-color: beige;
  width: 30%;
  margin: 20px auto;
  border: 2px solid white;
  border-radius: 50%;
  
}

.profile-pic img {
  width: 100%;
  object-fit: fill;
}
